*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #313132;
  padding: 10px 0px;
  margin-bottom: 15px;
}

h1 span {
  color: #ED458B;
  font-weight: 700;
}

h1 {
  color: #E6E7E8;
  font-weight: 300;
}

#intro {
  margin-top: 10px, 0px;
}

#minmaxBtn {
  width: 450px;
  margin: 5px;
}

.main {
  text-align: center;
}

#form {
  padding: 30px 0px 10px 0px;
}

#upperForm {
  visibility: hidden;
}

#minInput {
  margin-top: 15px;
  width: 100px;
}

#maxInput {
  margin-top: 15px;
  width: 100px;
}

.inputfields {
  padding: 5px;
  font-size: 24px;
  font-weight: 300;
  height: 36px;
  background-color: #fff;
  line-height: 36px;
}

.btn {
  width: 115px;
  height: 28px;
  border-radius: 100px;
  margin: 27px 10px;
  font-size: 20px;
  color: #fff;
  background-color: #929497;
  font-weight: 300;
  line-height: 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#reset {
  width: 250px;
  margin: 30px 0px 20px 0px;
  font-size: 16px;
  background-color: #929497;
}

.btn:hover {
  background-color: #EB008B;
}

#clear:disabled,
#reset:disabled,
#submit:disabled,
#rangeSubmit:disabled,
#minmaxBtn:disabled {
  background-color: #D0D2D3;
  color: #fff
}

h2, h3 {
  font-weight: 300;
  font-size: 22px;
}

h3 {
  height: 30px;
}

#displayNumber {
  font-size: 108px;
  color: #ED458B;
  height: 130px;
  line-height: 130px;
}

